{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@([A-Z][a-z]*)*$", "^@/.*", "^\\./", "^\\.\\./"],
  "importOrderSeparation": true,
  "tailwindConfig": "./tailwind.config.js",
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["clsx"]
}
